@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-gradient {
    @apply inline-flex items-center justify-center rounded py-[4px] px-[5px] text-white shadow-md transition-colors
           bg-gradient-to-b from-[#40678c] to-[#2c5378] h-auto
           hover:from-[#467199] hover:to-[#2a4e70]
           active:from-[#385a7c] active:to-[#254564]
           focus:outline-none focus:ring-2 focus:ring-white/30
           disabled:opacity-60 disabled:cursor-not-allowed;
  }
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .custom-scrollbar::-webkit-scrollbar {
    height: 8px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.05);
    border-radius: 10px;
    margin: 0 16px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    transition: background 0.3s;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.3);
  }

  /* Firefox */
  .custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: rgba(255, 255, 255, 0.2) rgba(255, 255, 255, 0.05);
  }
}
@theme {
  --font-BebasNeue: "Bebas Neue", sans-serif;
}
:root {
  /* Example fluid scale between mobile (320px) and large (1440px) */
  font-size: clamp(14px, 1vw + 0.5rem, 18px);
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
